//============= Подключение шрифтов ===========================================================================================================================================
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
//============== Шаблонs цветов ==========================================================================================================================================
$color: #66C05D;
$gray: #E5E5E5;
$dark: #000000;
$sdark: #333333;
$white: #fff;
//========================================================================================================================================================
//?========================================================================================================================================================
//========================================================================================================================================================
//! Видимая часть сайта
//!========================================================================================================================================================
body{
// Устанавливаем семейство шрифтов для всего сайта
font-family: 'Roboto', sans-serif;
// Устанавливаем размер шрифта для всего сайта
font-size: 16px;
// Устанавливаем ширину текста для всего сайта
font-weight: 400;
// Устанавливаем фон для всего сайта
background-color: $gray;
}

//TODO== Ограничивающий контейнер ====================
.wrapper{
    //Максимальная ширина контейнера
    max-width: 1110px;
    // Отступ 30px (По 15 с лева и с права)
    padding: 0 15px;
    // Выравнивание по центру
    margin: 0 auto;
}
//TODO================================================
// Первое меню навигации
.nav{
    // Делаем элементы блочными и выстраиваем согласно флекс модели.
    display: flex;
    // Выравниваем по центру
    justify-content: center;
    // Убираем точки у списка
    list-style-type: none;
    // Убираем внутренний отступ слева
    padding-left: 0;
    // Обращаемся к содержимому списка
    li{
        // Внешний отступ
        margin-left: 15px;
        // Внешний отступ
        margin-right: 15px;
        
    }
    // Обращаемся к ссылкам внутри списка
    a{
        // Размер шрифта
        font-size: 14px;
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Устанавливаем цвет текста используя шаблон
        color: $sdark;
        // Плавность анимации
        transition: 0.3s;
        // Эффект при наведении
        &:hover{
            // Размер шрифта
            font-size: 16px;
            // Ширина шрифта
            font-weight: 700;
        }
    }
}
//========================================================================================================================================================
//?========================================================================================================================================================
//============ Второй уровень меню навигации ===========================================================================================================================================
// Контейнер второго уровня
.header{
    // Делаем элементы блочными и выстраиваем согласно флекс-модели
    display: flex;
    // Равномерно распределяем элементы по контейнеру
    justify-content: space-between;
    // Выравниваем элементы по центру
    align-items: center;
    // Обращаемся к логотипу
    &__link{
        // Устанавливаем цвет ссылки
        color: $color;
        // Делаем текст капсом
        text-transform: uppercase;
        // Размер шрифта
        font-size: 36px;
        // Ширина шрифта
        font-weight: 700;
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Делаем элементы блочными и выстраиваем согласно флекс-модели
        display: flex;
        // Выравниваем по центру
        align-items: center;
        // Межсимвольный интервал
        letter-spacing: 3px;
        // Эффект при наведении
        &:hover,:focus{
            // Нижнее подчёркивание
            text-decoration:underline;
        }
    }
    // Обращаемся к картинке логотипа
    &__img{
        // Подключаем логотип
        background-image: url(../img/logo.svg);
        // Делаем элемент блочным и видимым
        display: block;
        // Жёстко задаём ширину
        width: 80px;
        // Жёстко задаём высоту
        height: 80px;
        // Внешний отступ (Толкаем текст)
        margin-right: 22px;
    }
    // Обращаемся к кнопке звонка
    &__button{
        // Размер шрифта
        font-size: 14px;
        // Убираем фон у кнопки
        background-color: transparent;
        // Делаем рамку
        border: 2px solid $color;
        // Закругляем края
        border-radius: 40px;
        // Внутренний отступ
        padding: 12px 27px;
        // Внешний отступ (Толкаем номер)
        margin-left: 29px;
        // Плавность анимации
        transition: 0.3s ease;
        // Эффект при наведении
        &:hover{
            // Цвет фона
            background-color: $color;
            // Цвет текста
            color:$white;
            // Делаем курсор ручкой
            cursor: pointer;
        }
    }
    // Обращаемся к телефону
    &__tel{
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Меняем цвет текста используя шаблон
        color: $dark;
        // Плавность анимации
        transition: 0.2s ease;
        // Эффект при наведении
        &:hover{
            // Размер шрифта
            font-size: 18px;
        }
    }
}
// Контейнер для белого фона
.bg__white{
    // Устанавливаем цвет фона
    background-color: #fff;
    // Внутренний отступ
    padding: 20px 0;
    // Подчёркивание снизу блока
    border-bottom: 1px solid $gray;
}
// Контейнер для белого фона
.bg__white__header{
    // Устанавливаем цвет фона
    background-color: #fff;
}
//========================================================================================================================================================
//?========================================================================================================================================================
//========== Третий уровеинь навигации ==============================================================================================================================================
// Контейнер для навигаци
.nav__header{
    // Делаем элементы блочными и выстраиваем согласно флекс модели в строку
    display: flex;
    // Выравниваем по центру
    justify-content: center;
    // Убираем точки у списка
    list-style-type: none;
    // Обнуляем внутренний отступ слева
    padding-left: 0;
    // Обнуляем внешний отступ
    margin: 0;
    // Внутренний отступ справа и слева
    padding: 30px 0;
    // Обращаемся к списку
    li{
        // Внешний отступ слева
        margin-left: 20px;
        // Внешний отступ справа
        margin-right: 20px;
        // Эффект при наведении, активации, фокусе
        &:hover,:active,:focus{
            // Нижнее подчёркивание
            border-bottom: 2px solid $color;
            // Ширина текста   
            font-weight: 700;
            // Размер шрифта
            font-size: 18px;
        }
    }
    // Обращаемся к ссылкам внутри списка
    a{
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Цвет текста ссылки
        color: $dark;
        
    }
}
//========================================================================================================================================================
//?========================================================================================================================================================
//============ Секция акций ============================================================================================================================================
// Фоновый контейнер 
.sale{
    // Устанавливаем фон
    background-image: url(../img/bg.jpg);
    // Отключаем повторение
    background-repeat: no-repeat;
    // Растягиваем на весь блок
    background-size: cover;
    // Выравниваем фон по центру контейнера
    background-position: center center;
    // Внутренний отступ сверху
    padding-top: 150px;
    // Внутренний отступ снизу
    padding-bottom: 208px;
    // Обращаемся к контейнеру
    &__container{
        // Цвет текста
        color: $white;
    }
    // Обращаемся к ссылке
    &__link{
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Красим текст
        color: $white;
        // Размер шрифта 
        font-size: 14px;
        // Рамка
        border: 2px solid $white;
        // Скругляем края
        border-radius: 40px;
        // Внутренний отступ
        padding: 9px 47px;
        // Плавность анимации
        transition: 0.3s ease;
        // Эффект наведения
        &:hover{
            // Цвет фона
            background-color: $sdark;
            // Цвет текста
            color: $color;
            // Рамка
            border: 2px solid $color;
        }
    }
    // Обращаемся к тексту
    &__text{
        // Размер шрифта
        font-size: 14px;
        // Ограничение по ширине блока
        max-width: 308px;
        // Внешний отступ снизу (толкаем в низ)
        margin-bottom: 56px;
    }
    // Обращаемся к заголовку
    &__title{
        // Размер шрифта
        font-size: 44px;
        // Ширина шрифта
        font-weight: 700;
        // Внутренний отступ сверху
        padding-top: 16px;
        // Внешний отступ снизу
        margin-bottom: 44px;
        // Межсимвольный интервал
        letter-spacing: 2.3px;
    }
    
}
//========================================================================================================================================================
//?========================================================================================================================================================
//============ Секция товаров ============================================================================================================================================
// Главная секция товаров
.section__main{
    // Внешний отступ сверху
    margin-top: 55px;
}
// Контейнер для гридов (сетки)
.section__grid{
    // Строим сетку
    display: grid;
    // Задаём количество колонок
    grid-template-columns: repeat(4, 1fr);
    // Отступ между ячейками сетки
    grid-gap: 0 30px
}
// Обращаемся к содержимому сетки
.section{
    // Контейнер с картинкой товара
    &__image-container{
        // Цвет фона
        background-color: $white;  
        // Внутренний отступ
        padding: 30px 25px;
    }
    // обращаемся к контейнеру заголовка
    &__item-title{
        // Обозначаем где начинается и заканчивается горизонтально
        grid-column: 1 / 4;
        // Обозначаем где начинается и заканчивается вертикально
        grid-row: 1 / 2;
        // Ширина текста
        font-weight: 700;
        // Размер шрифта
        font-size: 16px;
        // Межсимвольный интервал
        letter-spacing: 0.01em;
    }
    // Обращаемся к контейнеру иконки автомобиля
    &__item-car{
         // Обозначаем где начинается и заканчивается горизонтально
        grid-column: 4 / 5;
         // Обозначаем где начинается и заканчивается вертикально
        grid-row: 1 / 2;
        // Выравниваем текст по центру (иконку)
        text-align: center;
    }
    // Обращаемся к левому блоку (Получайте бонусы и подарки)
    &__item-left{
         // Обозначаем где начинается и заканчивается горизонтально
        grid-column: 1 / 3;
         // Обозначаем где начинается и заканчивается вертикально
        grid-row: 3 / 4;
        // Внешний отступ сверху
        margin-top: 105px;
        // Внешний отступ снизу
        margin-bottom: 133px;
    }
    // Обращаемся к правому блоку (Заходите к нам)
    &__item-right{
         // Обозначаем где начинается и заканчивается горизонтально
        grid-column: 3 / 5;
         // Обозначаем где начинается и заканчивается вертикально
        grid-row: 3 / 4;
        // Внешний отступ сверху
        margin-top: 105px;
        // Внешний отступ снизу
        margin-bottom: 133px;
    }
    // Контейнер для левого и правого элемента снизу
    &__green{
        // Внутренний отступ
        padding: 35px 40px;
        // Цвет фона
        background-color: $color;
        // Делаем элементы блочнымии выстраиваем согласно флекс-модели
        display: flex;
        // Выравниваем элементы по контейнеру
        justify-content: space-between;
    }
    // Обращаемся к контейнеру 
    &__green-item{
        // Раскидваем благодаря флексам
        flex: 0 0 60%;
        // Обращаемся к картинкам
        &-img{
            // Раскидваем благодаря флексам
            flex: 0 0 40%;
            // Выравниваем по центру
            text-align: center;
        }
    }
    // Каталог товаров
    &__item-catalog{
        // Выравниваем по центру текст
        text-align: center;
    }
    // Обращаемся к блоку текста
    &__text{
        // Задаём предел ширины
        max-width: 195px;
    }
    // Обращаемся к цене
    &__price{
        // Ширина текста
        font-weight: 500;
        // Размер шрифта
        font-size: 21px;
        // Межсимвольный интервал
        letter-spacing: 0.05em;
        // Обнуляем внешний отступ сверху
        margin-top: 0;
        
    }
    // Обращаемся к ссылкам
    &__link{
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Цвет фона
        background-color: $color;
        // Цвет текста
        color: $white;
        // Размер шрифта
        font-size: 14px;
        // Межсимвольный интервал
        letter-spacing: 0.05em;
        // Скругляем углы
        border-radius: 30px;
        // Внутренний отступ
        padding: 9px 40px;
        // Плавность анимации
        transition: 0.3s ease;
        // Эффект при наведении
        &:hover{
            // Цвет фона
            background-color: $sdark;
            // Цвет текста
            color: $color;
            // Рамка
            border: 2px solid $color;
        }
    }
    // Обращаемся к картинке
    &__img{
        // Внешний отступ сверху
        margin-top: 15px;
    }
}
//Todo нижние контейнеры (зелёные)
.green-item{
    // Заголовок
    &__title{
        // Ширина текста
        font-weight: 700;
        // Размер шрифта
        font-size: 18px;
        // Цвет текста
        color: $white;
        // Обнуляем внешний отступ сверху
        margin-top: 0;    
    }
    // Обращаемся к тексту
    &__text{
        // Цвет текста
        color: $white;
        // Внешний отступ снизу
        margin-bottom: 25px;
    }
    // Обращаемся к иконке
    &__img{
        // Выравниваем по центру
        text-align: center;
    }
    // Обращаемся к полю ввода
    &__input{
        // Убираем рамку
        border: none;
        // Размер шрифта
        font-size: 14px;
        // Цвет текста
        color: #C4C4C4;
        // Внутренний отступ
        padding: 9px 25px;
        // Скругляем углы
        border-radius: 30px;
    }
    // Обращаемся к ссылке
    &__link{
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Цвет текста
        color: $white;
        // Размер шрифта
        font-size: 14px;
        // Рамка
        border: 2px solid $white;
        // Скругление углов рамки
        border-radius: 40px;
        // Внутренний отступ
        padding: 9px 47px;
        // Плавность анимации
        transition: 0.3s ease;
        // Эффект наведения
        &:hover{
            // Цвет фона
            background-color: $sdark;
            // Цвет текста
            color: $color;
            // Рамка
            border: 2px solid $color;
        }
    }
    // Иконка карты
    &__map{
        // Ширина
        width: 140px;
        // Высота
        height: 140px; 
    }
}
//========================================================================================================================================================
//?========================================================================================================================================================
//============ Подвал ============================================================================================================================================
// Верхняя часть подвала
.footer__top{
    // Цвет фона
    background-color: $white;
    // Внутренний отступ
    padding: 15px 0;
}
// Главный контейнер 
.footer__container{
    // Делаем элементы блочными и выстраиваем согласно флекс модели
    display: flex;
    // Раскидываем элементы по контейнеру
    justify-content: space-between;
    // Выравниваем элементы по центру
    align-items: center;
    // Выравниваем текст по центру
    text-align: center;
    // Обращаемся к кнопке обратной связи
    &-button{
        // Размер шрифта
        font-size: 14px;
        // Убираем фон
        background-color: transparent;
        // Рамка
        border: 2px solid $color;
        // Скругляем углы у рамки
        border-radius: 40px;
        // Внутренний отступ
        padding: 12px 27px;
        // Внешний отступ слева
        margin-left: 29px;
        // Плавность анимации
        transition: 0.3s ease;
        // Эффект при наведении
        &:hover{
            // Цвет фона
            background-color: $color;
            // Цвет текста
            color:$white;
            // Курсор меняет форму на ручку
            cursor: pointer;
        }
    }
    // Обращаемся к номеру
    &-tel{
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Цвет текста
        color: $dark;
        // Плавность анимации
        transition: 0.3s ease;
        // Эффект наведения
        &:hover{
        // Нижнее подчёркивание
        border-bottom: 1px solid $dark;
        }
    }
    // Информация
    &-info{
        // Внутренний отступ слева
        padding-left: 75px;
    }
}
// Обращаемся к контейнеру социальных сетей
.foooter__container-soc{
    // Делаем элементы блочными и выстраиваем согласно флекс модели
    display: flex;
    // Выравниваем элемента по центру
    align-items: center;
    // Обнуляем внутренний отступ слева
    padding-left: 0;

}
// Обращаемся к контейнеру иконок
.social__item{
    // Внешний отступ справа
    margin-right: 5px;
    // Внешний отступ слева
    margin-left: 5px;
    // Убираем точки от списка
    list-style: none;
}
// Обращаемся к ссылкам
.social__link{
    // Рамка
    border: 2px solid $color;
    // Делаем кругом
    border-radius: 100%;
    // Делаем блочным элементом
    display: block;
    // Ширина
    width: 45px;
    // Высота
    height: 45px;
    // Убираем повторение у иконок
    background-repeat: no-repeat;
    // Выравниваем по центру
    background-position: center center;
    // Эффект при наведении
    &:hover{
        // Цвет фона
        background-color: $sdark;
    }
}

// Обращение к иноке YouTube
.social__yt{
    // Подгружаем иконку
    background-image: url(../img/yt.svg);
}
// Обращение к иноке VK
.social__vk{
    // Подгружаем иконку
    background-image: url(../img/vk.svg);
}
// Обращение к иноке Facebook
.social__fb{
    // Подгружаем иконку
    background-image: url(../img/fb.svg);
}
// Обращение к иноке Instagram
.social__inst{
    // Подгружаем иконку
    background-image: url(../img/inst.svg);
}
// Нижняя часть подвала
.footer__buttom{
    // Делаем элементы блочными и выстраиваем согласно флекс-модели
    display: flex;
    // Равномерно распределяем по контейнеру
    justify-content: space-between;
    // Цвет текста
    color: #828282;
    // Внутренний отступ
    padding: 25px 0;
    // Обращаемся к тексту
    &-text{
        // Обнуляем внешние отступы
        margin: 0;
    }
    // Обращаемся к ссылке
    &-link{
        // Цвет текста
        color: #828282;
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Эффект при наведении
        &:hover{
        // Нижнее подчёркивание
        text-decoration: underline;
        }
    }
}
//========================================================================================================================================================
//!========================================================================================================================================================


